@import url(fondamentali.css);


/* typography */
body{
    font-family: 'Roboto', sans-serif;
}

/* variables */
:root{
    --ms-primary-color:#F8F9FA;
    --ms-secondary-color:#1C72E8;
    --ms-secondary-color-dark:#061E34;
}

/* utilities */
.bg-color-primary{
    background-color: var(--ms-primary-color);
}
.bg-color-secondary{
    background-color: var(--ms-secondary-color);
}
.bg-color-secondary-dark{
    background-color: var(--ms-secondary-color-dark);
}

/* -------------DOCUMENT STYLE--------- */
/* common */
.hide{
    display: none;
}
.show{
    display: block;
}
/* aside */
.ms-stats{
    font-size: 21px;
}
#ms-admin-container{
    height: calc(100% - 104px)
}

/* header */
.ms-h-logo #mobile{
    width: 40px;
}
#bell-btn{
    color: orange;
}

/* main */
.ms-main-tags{
    font-size: 14px;
}


/* ------------- RESPONSIVE--------- */
/* lg */
@media screen and (min-width: 992px) {
    .hide{
        display: block;
    }
    main{
        width: calc(100vw - 112px);
    }
    .ms-h-logo{
        display: none;
    }

    .show{
        display: none;
    }
    #ms-second-col-bluesection{
        margin-top: 0 !important;
    }
}

/* ------------- ON HOVER--------- */
.ms-hover-dark:hover{
    background:rgba(0,0,0,0.3) !important;
}