@import url(fondamentali.css);




/* variables */
:root{
    --ms-primary-color:#F8F9FA;
    --ms-secondary-color:#1C72E8;
    --ms-secondary-color-dark:#061E34;
}

/* utilities */
.bg-color-primary{
    background-color: var(--ms-primary-color);
}
.bg-color-secondary{
    background-color: var(--ms-secondary-color);
}
.bg-color-secondary-dark{
    background-color: var(--ms-secondary-color-dark);
}

/* -------------DOCUMENT STYLE--------- */
/* aside */
.hide{
    display: none;
}
.ms-stats{
    font-size: 21px;
}
.ms-h-logo #mobile{
    width: 40px;
    object-fit: contain;
}

/* header */
#bell-btn{
    color: orange;
}

/* ------------- RESPONSIVE--------- */
/* lg */
@media screen and (min-width: 1200px) {
    .hide{
        display: block;
    }
    main{
        width: calc(100vw - 112px);
    }
    .ms-h-logo{
        display: none;
    }
}