@import url(fondamentali.css);


/* typography */
body{
    font-family: 'Roboto', sans-serif;
}

/* variables */
:root{
    --ms-primary-color: #F8F9FA;
    --ms-secondary-color:#1C72E8;
    --ms-secondary-color-dark:#061E34;
}

/* utilities */
.bg-color-primary{
    background-color: var(--ms-primary-color);
}
.bg-color-secondary{
    background-color: var(--ms-secondary-color);
}
.bg-color-secondary-dark{
    background-color: var(--ms-secondary-color-dark);
}

/* -------------DOCUMENT STYLE--------- */
/* common */
.ms-hide{
    display: none;
}
.ms-show{
    display: block;
}
/* aside */
.ms-stats{
    font-size: 21px;
}
#ms-admin-container{
    height: calc(100% - 104px)
}

/* header */
.ms-h-logo #mobile{
    width: 40px;
}
#bell-btn{
    color: orange;
}

/* main */
.ms-main-tags{
    font-size: 14px;
}
.ms-table{
    font-size: 14px;
    font-weight: bold;
}
.ms-table img{
    width: 28px;
    background-color: transparent;
    border-radius:50px;
    margin-right: 5px;
}
.ms-table{
    text-align: center;
}
.ms-table th:first-child{
    text-align: left;
}
.ms-table td:first-child{
    text-align: left;
    margin: 0;
}
.ms-table td{
    padding-top: 20px;
}
.ms-table i{
    font-size: 13px;
}
.ms-table th:nth-child(2), .ms-table th:nth-child(3), .ms-table td:nth-child(2), .ms-table td:nth-child(3){
    display: none;
}
.todo_style{
    padding: 10px 20px;
}
.form_style{
    border: 1px solid lightgray;
    padding: 15px 5px;
    margin: 0 !important;
}
.form_style:first-child{
    border-bottom: none;
    border-radius: 10px 10px 0 0 ;
}
.form_style:last-child{
    border-top: none;
    border-radius: 0px 0px 10px 10px ;
}

/* ------------- RESPONSIVE--------- */
/* lg */
@media screen and (min-width: 1200px) {
    .ms-hide{
        display: block;
    }
    main{
        width: calc(100vw - 112px);
    }
    .ms-h-logo{
        display: none;
    }

    .ms-show{
        display: none;
    }
    #ms-second-col-bluesection{
        margin-top: 0 !important;
    }
   
}

@media screen and (min-width: 768px ) {
    .ms-table th:nth-child(3), .ms-table td:nth-child(3){
        display: table-cell;
    }
}
@media screen and (min-width: 992px) {
    .ms-table th:nth-child(2), .ms-table th:nth-child(3), .ms-table td:nth-child(2), .ms-table td:nth-child(3){
        display: table-cell;
    }
}
@media screen and (min-width: 1200px){
    .todo_margin{
        margin: 0 !important;
    }
}


/* ------------- ON HOVER--------- */
.ms-hover-dark:hover{
    background:rgba(0,0,0,0.3) !important;
}